.container {
  display: flex;
  flex-direction: column;
}
.row {
  margin: 5px;
}
.button {
  margin: 10px;
  border: 3px solid black;
  border-radius: 20px;
  padding: 20px;
}

.row input {
  font-size: 22px;
  margin: 0;
  border: solid 3px black;
  padding: 20px 5px;
}
.item-center {
  align-items: center;
  text-align: center;
}
